<h1>Home Page</h1>
<br>
<br>
<%= link_to "SignIn", new_user_session_path unless user_signed_in?%>
<%= link_to "Posts", user_posts_path(current_user) if user_signed_in?%>
<%= link_to "SignOut", destroy_user_session_path, :method => :delete if user_signed_in?%>
<%= link_to "SignUp", new_user_registration_path unless user_signed_in?%>

